<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Subscriber List</title>
<link th:replace="subscriber/fragments/headLink">
</head>
<body>
  <div class="container-fluid">
    <h1>Welcome to our Awesome Site</h1>
    <h3>Subscriber to our List. Sign-up below.</h3>
    <a href="/subscribers" class="btn btn-primary">See All Subscribers</a>
    <div class="card">
      <div class="card-header text-white bg-info">
        <h3>Please use the form below to sign up as a subscriber:</h3>
      </div>
      <div class="card-body">
        <form action="#" th:action="@{/}" th:object="${subscriber}"
          method="post">
          <div class="form-group">
            <input type="text" placeholder="First name"
              th:field="*{firstName}" class="form-control" />
          </div>
          <div class="form-group">
            <input type="text" placeholder="Last name"
              th:field="*{lastName}" class="form-control" />
          </div>
          <div class="form-group">
            <input type="text" placeholder="username"
              th:field="*{username}" class="form-control" />
          </div>
          <div class="form-group">
            <button class="btn btn-info btn-block" type="submit">Sign
              up as a Subscriber</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script th:replace="subscriber/fragments/scripts"></script>
</body>
</html>
